body {
    background-color: rgb(175, 225, 244);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

header {
    background-color: rgb(116, 205, 239);
    border: 2px solid rgb(47, 86, 101);
    border-radius: 15px;

}

header h1 {
    padding: 20px;
    color: rgb(47, 86, 101);
    font-size: xx-large;
    display: inline-block;
    margin-left: 60px;
    font-family: Trattatello, fantasy;
    font-weight: lighter;
}


header ul {
    list-style-type: none;
    margin-right: 50px;

}

header ul li {

    display: inline-block;
    padding: 20px;
}

.headerflex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.mainflex {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.olflex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

section {
    background-color: rgb(116, 205, 239);
    border: 2px solid rgb(47, 86, 101);
    border-radius: 15px;
    margin-top: 50px;

}

section h2 {
    padding-top: 40px;
    padding-left: 120px;
    color: rgb(47, 86, 101);

}

section div {
    padding: 30px;
}

section img {
    height: 200px;
    border: 15px solid rgb(47, 86, 101);
    border-radius: 15px;

}

.about-me-image {
    margin-left: 15px;

}