body {
    background-color: rgb(175, 225, 244);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}


.sassy-nigel {
    width: 100%;
    border: 2px solid rgb(47, 86, 101);
    border-radius: 15px;
    margin-top: 40px;

}

.headerflex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(116, 205, 239);
    border: 2px solid rgb(47, 86, 101);
    border-radius: 15px;
}

.mainflex {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.ulflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 10;

}

.headersection {
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    width: 100%;
    z-index: 10;
}

header h1 {

    color: rgb(47, 86, 101);
    font-size: 50px;
    display: inline-block;
    margin-left: 60px;
    font-family: Trattatello, fantasy;
    font-weight: lighter;
}


header ul {
    list-style-type: none;
    margin-right: 50px;


}

header ul li {

    display: inline-block;
    padding: 15px;
}



section {
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 205, 239);
    border: 2px solid rgb(47, 86, 101);
    border-radius: 15px;
    margin-top: 50px;

}

section h2 {

    background-color: rgb(47, 86, 101);
    color: rgb(116, 205, 239);
    border: 2px solid rgb(47, 86, 101);
    border-radius: 15px;
    margin-top: -30px;
    margin-left: 20rem;
    margin-right: 20rem;
    text-align: center;
    height: 50px;
    min-width: 120px;
    font-weight: lighter;
    position: relative;

}

section div {
    padding: 30px;
}

section img {
    height: 200px;
    border: 15px solid rgb(47, 86, 101);
    border-radius: 15px;

}

.about-me-image {
    display: block;
    margin-left: 15px;

}

p {
    display: block;
    text-align: center;
    padding: 20px;


}